#build-pipeline-plugin-content {
	background-attachment: initial;
	background-clip: initial;
	background-color: rgba(6, 72, 131, 0.0976563);
	background-image: initial;
	background-origin: initial;
	background-position: initial initial;
	background-repeat: initial initial;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    margin-left: auto;
    margin-right: auto;
	padding: 10px;

}

/******************** popup ***************************/
#popup-iframe{
    width: 100%;
    height: 95%;
    frameborder: 0;
    bottom: 0;
}

#close-popup {
    float:right;
    width:50px;
    color: red;
    font-weight:bold;
}

#popup {
    height: 100%;
    width: 100%;
    background: #000000;
    position: absolute;
    top: 0;
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    filter:alpha(opacity=75);
    z-index:1;
}

#window {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #000000;
    background: #ffffff;
    position: absolute;
    top: 50px;
    left: 19%;
    z-index:1;
}

/******************** icon bar ***************************/
#icon-bar {
    margin-bottom: 4px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
}

.icon-container {
    float: left;
    margin: 4px;
    width: 48px;
}

.icon-container div {
    font-size: 9px;
    text-align: center;
    color: #777;
    text-shadow:1px 0px 0px #333333;
}

.overflow-hidden {
	-o-text-overflow: ellipsis;
	-icab-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*************************** build card *******************************/
.rounded {
    height: 70px;
	width: 141px !important;
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
    opacity: 0.9;	

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -moz-box-shadow: 4px 4px 4px #555;
    -webkit-box-shadow: 4px 4px 4px #555;
    box-shadow: 4px 4px 4px #555;

    font-size: 10px;
    font-weight: bolder;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.header div {
    background: rgba(255, 255, 255, 0.7);
	width: 135px;
    color: #333;
    padding: 3px;

    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;

    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.build-number {
	font-style: italic;
	background: url("../images/gear-small.png") no-repeat left center;
	padding-left: 14px;
}

.build-duration {
	background: url("../images/clock-small.png") no-repeat left center;
	padding-left: 14px;	
}

.build-duration-container {
	width: 135px;
}

.build-time {
	background: url("../images/application-small-list-blue.png") no-repeat left center;
	padding-left: 14px;
	text-align: left;
	text-overflow: clip;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0.9em;
	width: 125px;
}

.build-user {
	background: url("../images/user-small.png") no-repeat left center;
	padding-left: 14px;		
	width: 102px;
}

.build-card .build-body {
    height: 38px;
}

.build-card .secondary-info {
	font-size: 1em;
}

.build-card .build-actions {
    height: 18px;
}

.build-card .build-actions .status-bar { 
    float: left;
    height: 100%;
    padding-left: 4px;
}

.build-card .build-actions .status-bar table {
	width: 110px;
    position: relative;
    top: 6px;
}

.build-card .build-actions .icons {
    float: right;
}

.build-card .build-actions img {
    width: 16px;
    height: 16px;
    padding-right: 2px;
}

#pipelines {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#legendView td {
    vertical-align: middle;
    text-align: center;
}

td.next {
    width: 40px;
    vertical-align: middle;
}

tbody.pipelineGroup {
    background-color: #fcae3f;
	background-color: rgba(252, 174, 63, 0.7);
}

tbody > tr:first-child > td:first-child {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px; 
    border-top-left-radius: 4px; 
}

tbody >  tr:first-child > td:last-child { 	
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px; 
    border-top-right-radius: 4px; 
}

tbody >  tr:last-child > td:first-child { 
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;  
    border-bottom-left-radius: 4px; 
}

tbody >  tr:last-child > td:last-child { 
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px; 
}


tr.build-pipeline > td, tr#project-pipeline > td {
    padding: 6px 6px 8px 6px;
}

tr.spacerRow td {
    padding: 3px;
}

.legend {
    background-color: #8b8989;
}

.revision {
    background-color: #8b8989;
	margin-left: 0;
}

.revision .build-number-pipeline {
	padding-top: 0.25em;
	font-size: 2em;
}

.disabled {
	background-color: #c8c6c7 !important;
    color: #222;
}

.SUCCESS {
    background-color: #1bd130;
    color: #222;
}

.FAILURE {
    background-color: #ef2929;
}

.UNSTABLE {
    background-color: #fcd116;
    color: #222;
}

.BUILDING {
    background-color: #f7f94b;
    color: #222;
}

.NOT_BUILT {
    background-color: #f7f94b;
    color: #222;
}

.ABORT {
    background-color: #bab4b4;
}

.PENDING {
    background-color: #00ccff;
    color: #222;
}

.MANUAL {
    background-color: #00ccff;
    color: #222;
}

.PROJECT {
    background-color: #aba8a8;
    font-size: 12px;
    font-weight: bold;
    display: table;
    height: 20px;
}

.PROJECT .header-name {
    display: table-row;
    color: #333;
}

.PROJECT .header-name div.header-wrapper {
	width: 141px;
	text-align: left;
}

.PROJECT .status-images {
    display: table-row;
}

.param-value {
	text-align: left;
}

.BuildViewMargin {
    margin-left: 30px;
}

#projectHeader {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-width: 10px;
    font-size: 12px;
    font-weight: bold;
}

#side-panel {
    display: none;
}

#view-message {
    display: none;
}

a:link,a:visited,a:active {
    text-decoration: none;
    color: inherit;
	color: expression(this.parentNode.currentStyle [ 'color' ]);
	/* IE fix */
    font-weight: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
    color: expression(this.parentNode.currentStyle['color']);
    font-weight: inherit;
}
.pointer {
	cursor: pointer;
}

.hidden {
	display: none;
}